<!-- 
    Form to allow a user to search for a user.
-->
{% extends 'navigator.html' %}

{% block content %}
<div class="form-container">
    <form action="" method="">
        <h2>Search User</h2>
        <fieldset>
            <p class="flex">
                <label for="user-name">Search user:</label>
                <input name="user-name" type="text" placeholder="Search user" empty>
            </p>
            <ul action="users" method="POST" class="search-results autocomplete-search" for="user-name"></ul>
        </fieldset>
    </form>
</div>
{% endblock %}