<!-- 
    Form to allow a user to search for a specter.
-->
{% extends 'navigator.html' %}

{% block content %}
<div class="form-container">
    <form action="" method="">
        <h2>Search Specter</h2>
        <fieldset>
            <p class="flex">
                <label for="specter-name">Search specter:</label>
                <input name="specter-name" type="text" placeholder="Search specter" empty>
            </p>
            <ul action="specters" method="POST" class="search-results autocomplete-search" for="specter-name"></ul>
        </fieldset>
    </form>
</div>
{% endblock %}