<!-- 
Page containing informations regarding the specters and the last 10 created specters.
-->
{% extends 'navigator.html' %}

{% block content %}
<div class="dashboard-container">
    <div class="specters">
        <h2>Specters</h2>
        <p>You can </p>
        <h3>Recent specters</h3>
        <ul class="search-results">
            {% for specter in get_last_n_modified_specters(10) %}
            <li>
                <h4><a href="{{specter.get_specter_url()}}">{{ specter.get_specter_name() }}</a></h4>
                <span>{{ specter.get_specter_description() }}</span>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}