.form-container form {
    padding: 1em;
}

.form-container form::after {
    content: "";
    clear: both;
    display: table;
}

.form-container form div.row{
    margin-bottom: 0.5em;
}

.form-container form p.flex {
    display: flex;
}

.form-container form label {
    margin-bottom: 0.5em;
    color: #333;
    font-size: 16px;
    padding: 0.5em;
    padding-left: 0;
    display: inline-block;
}

.form-container form input[type=text], .form-container form textarea {
    max-width: 100%;
    padding: 0.5em;
    border: 1px solid #aa9639;
    border-radius: 4px;
    flex: 1;
}

.form-container form input[type=text].validate.error, .form-container form textarea.validate.error {
    border: 1px solid red;
    background-color: #fee;
}

.form-container form input[type=text].validate.valid, .form-container form textarea.validate.valid {
    border: 1px solid green;
    background-color: #efe;
}

.form-container form .error-message {
    color: red;
    display: block;
    font-size: 12px;
    padding: 0.5em;
    text-align: right;
}

.form-container form i.fa-loader{
    background-color: red;
    padding: 0.7em;
    color: #aa9639;
}

.form-container form button[type=submit] {
    border-radius: 4px;
    cursor: pointer;
    letter-spacing: 0.5px;
    padding: 0.7em;
    font-size: inherit;
    float: right;
    transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
}

.form-container form button[type=submit].create {
    background-color: rgb(68, 116, 5);
    border: 2px solid rgb(68, 116, 5);
    color: #fff;
}

.form-container form button[type=submit].delete {
    background-color: rgb(116, 5, 5);
    border: 2px solid rgb(116, 5, 5);
    color: #fff;
}

.form-container form button[type=submit].deprecate {
    background-color: #FFA500;
    border: 2px solid #FFA500;
    color: #fff;
}

/* When a button is disabled, we grey it out and it is not clickable but shows a block sign. */
.form-container form button[type=submit]:disabled {
    background-color: #ccc;
    border: 2px solid #ccc;
    color: #fff;
    cursor: not-allowed;
}

/* When we hover the button, a small animation happens. */

.form-container form button[type=submit].create:hover {
    background-color: white;
    color: rgb(68, 116, 5);
}

.form-container form button[type=submit].delete:hover {
    background-color: white;
    color: rgb(116, 5, 5);
}

.form-container form button[type=submit].deprecate:hover {
    background-color: white;
    color: #FFA500;
}

.form-container form button[type=submit]:disabled:hover {
    background-color: #ddd;
    color: #fff;
}

/* Area of settings where some non-reversible operation can be performed. */
.danger_zone, .admin_zone  {
    border: 5px solid;
    border-radius: 1em;
    margin-top: 1em;
}

.danger_zone {
    border-color: #ed2e38;
}

.admin_zone {
    border-color: #FFA500;
}

.danger_zone h3 {
    background-color: #ed2e38;
}

.danger_zone h3, .admin_zone h3 {
    padding: 0.5em;
    box-sizing: border-box;
    color: #fff;
}

.admin_zone h3 {
    background-color: #FFA500;
}

.danger_zone h4, .admin_zone h4 {
    padding: 0.5em;
    border-bottom: 1px solid;
}

.danger_zone h4 {
    color: #ed2e38;
    border-color: #ed2e38;
}

.admin_zone h4 {
    color: #FFA500;
    border-color: #FFA500;
}

.danger_zone h5, .admin_zone h5 {
    padding: 0.2em 0.5em;
}

.danger_zone h5 {
    color: #ed2e38;
}

.danger_zone p, .admin_zone p {
    padding: 0.5em;
    color: #333;
}