{% block content %}
<li class="badge">
    <h4><a href="{{record.get_url()}}">{{ record.get_title() }}</a></h4>
    <p>{{ record.get_description() }}</p>
    {% if record.has_pins() %}
    {% set pins = record.get_pins() %}
    <ul class="pins">
        {% for pin in pins %}
        <li class="pin">
            {{pin.get_pin()|safe}}
        </li>
        {% endfor %}
    </ul>
    {% endif %}
    {% if record.is_authored() %}
    {% set author = record.get_author() %}
    <p>This entry was created by <a href="{{author.get_url()}}">{{ author.get_name() }}{{ ' (You)' if user and record.is_author(user) else '' }}.</p>
    {% endif %}
</li>
{% endblock %}
