<!DOCTYPE html>
<html lang="{{lang}}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" rel="Stylesheet"></link>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="/static/css/loader.css">
    <link rel="stylesheet" href="/static/css/form.css">
    <link rel="stylesheet" href="/static/css/pin.css">
    <link rel="stylesheet" href="/static/css/lateral_bar.css">
    <link rel="stylesheet" href="/static/css/autocomplete-search.css">

    <!-- if the user is logged in-->
    <link rel="stylesheet" href="/static/css/lateral_bar.css">
    <title>Earth Metabolome KG</title>
    <meta content='Earth Metabolome Knowledge Graph' name='description'>
    <link href='/static/img/logo.ico' rel='icon' type='image/gif'>
    <link href='/static/img/logo.ico' rel='shortcut icon'>
</head>

<body>
    {% include 'lateral_bar.html' %}
    <!-- Navigation Bar -->
    <nav class="navbar">
        <ul id="hamburgerButton">
            <li></li>
            <li></li>
            <li></li>
        </ul>
        <h1>
            <a href="/"><img src="/static/img/logo.svg" alt="Website Logo"></a>
        </h1>
        {% if user %}
        <!-- If the user is logged in, we show the user-related options. -->
        <div class="user-dropdown" id="userDropdown">
            <button class="username-button" id="usernameBtn"><a href="{{user.get_url()}}">{{ user.get_name() }}</a></button>
        </div>
        {% else %}
        <!-- Otherwise, we show the login button. -->
        <a href="{{ url_for('orcid.login') }}" class="signup-button" id="loginBtn">
            <i class="fa-brands fa-orcid"></i>
            ORCID Login
        </a>
        {% endif %}
    </nav>

    <!-- Content -->
    <div class="content">
        {% block content %}{% endblock %}
    </div>

    <footer>
        <div class="footer-content">
            <p>&copy; <a href="/{{lang}}/"> EMI</a></p>
        </div>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script src="//code.jquery.com/ui/1.10.2/jquery-ui.js" ></script>
    <script src="/static/js/autocomplete-search.js"></script>
    <script src="/static/js/form-validator.js"></script>
    <!-- If the user is logged in -->
    <script src="/static/js/lateral_bar.js"></script>
    <script src="https://kit.fontawesome.com/a9d47abff9.js" crossorigin="anonymous"></script>
</body>

</html>