{% block content %}
    <h3>{{ section.get_section_title(page) }}</h3>
    <p>{{ section.get_section_header(page) }}</p>
    {% if section.has_records(page) %}
        <div class="search-results-wrapper">
            {% set records = section.get_records(page, 10) %}
            <ul class="search-results">
                {% for record in records %}
                {{ record.get_record_badge()|safe }}
                {% endfor %}
            </ul>
        </div>
    {% else %}
        <p>No records found.</p>
    {% endif %}
{% endblock %}