* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    font-family: Helvetica, Arial, sans-serif;
    vertical-align: baseline;
    background: transparent;
}

.normal_content {
    color: #000;
    width: 500px;
    margin: 10px auto;
    padding: 10px;
    border: 1px solid #aa9639;
    border-radius: 10px;
    text-align: justify;
}

.translatable {
    cursor: pointer;
    transition: color 0.1s ease-in-out;
}

.translatable:hover {
    color: #aa9639;
}

#translation_widjet {
    width: 100%;
    height: 100%;
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    z-index: 1000;
}

#translation_widjet_background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.8);
    transition: background-color 0.1s ease-in-out;
}

#translation_widjet_background:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.translation_widjet_container {
    width: 95%;
    height: 95%;
    position: absolute;
    top: 2.5%;
    left: 2.5%;
    box-sizing: border-box;
}

.translations_side_bar {
    width: 30%;
    height: 100%;
    border-right: 1px solid #aa9639;
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
}

.translations_side_bar h2 {
    text-align: center;
    padding: 1em;
    height: 3em;
    border-top-left-radius: 10px;
    font-size: 300;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    box-sizing: border-box;
    background-color: white;
    border-bottom: 1px solid #aa9639;
}

#translations_list{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    list-style: none;
    margin: 0;
    overflow-y: scroll;
    height: 100%;
    background-color: white;
    padding-top: 3em;
    box-sizing: border-box;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#translations_list li {
    box-sizing: border-box;
    padding: 1em;
    border-bottom: 1px solid #aa9639;
    cursor: pointer;
    transition: background-color 0.1s ease-in-out;
}

#translations_list li:hover, #translations_list li.selected_translation_item {
    background-color: #aa9639;
    color: white;
}

.translation_widjet_container form {
    background-color: white;
    width: 70%;
    height: 100%;
    margin-left: 30%;
    padding: 1em;
    box-sizing: border-box;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.translation_widjet_container form textarea {
    width: 100%;
    height: 100%;
    resize: none;
    border: 0;
    outline: 0;
    margin: 0;
    font-size: 100%;
    font-family: Helvetica, Arial, sans-serif;
    vertical-align: baseline;
    background: transparent;
}

.translation_widjet_container form button {
    position: absolute;
    bottom: 1em;
    right: 1em;
    padding: 0.5em;
    border: 1px solid #aa9639;
    border-radius: 10px;
    background-color: white;
    cursor: pointer;
    transition: background-color 0.1s ease-in-out;
}

.translation_widjet_container form button:hover {
    background-color: #aa9639;
    color: white;
}

.translation_widjet_container form button.disabled {
    background-color: #ccc;
    color: #666;
    cursor: default;
}

#translation_widjet_close {
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    color: #aa9639;
    border: 1px solid #aa9639;
    text-align: center;
    line-height: 1em;
    cursor: pointer;
    transition: background-color 0.1s ease-in-out;
}

#translation_widjet_close:hover {
    background-color: #aa9639;
    color: white;
}