div.search-results-wrapper {
    overflow-y: scroll;
    max-height: 200px;
}

ul.search-results{
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: relative;
    z-index: 1;
    width: 100%;
    min-width: 100%;
    background-color: #fff;
    margin-top: 1em;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
}

ul.autocomplete-search {
    display: none;
}

ul.search-results li{
    padding: 0.5em;
    border-radius: 0.5em;
    margin-top: 0.1em;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    break-inside: avoid-column;
    cursor: pointer;
    border: 1px solid #aa9639;
    transition: background-color 0.1s ease-in-out;
}

ul.search-results li h4 a{
    color: #aa9639;
    text-decoration: underline;
}

ul.search-results li:hover{
    background-color: #eee;
}

ul.search-results li{
    background-color: #fff;
}