* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    font-family: Helvetica, Arial, sans-serif;
    vertical-align: baseline;
    background: transparent;
}

#hamburgerButton{
    left: 0;
    right: 0;
    position: absolute;
    width: 60px;
    height: 60px;
    z-index: 1001;
    cursor: pointer;
    display: block;
    box-sizing: border-box;
    transition: all 0.1s ease-in-out;
}

#hamburgerButton:hover {
    background-color: #aa9639;
}

#hamburgerButton li {
    width: 80%;
    margin: 12.5% auto;
    height: 15%;
    border-radius: 1em;
    background: #fff;
    box-sizing: border-box;
    border: 1px solid #aa9639;
    list-style: none;
}

#hamburgerButton li:first-child {
    margin-top: 15%;
}

#hamburgerButton li:last-child {
    margin-bottom: 15%;
}

#LateralBar{
    position: fixed;
    top: 0;
    left: 0;
    max-width: 100%;
    height: 100%;
    z-index: 1000;
    box-sizing: border-box;
    list-style: none;
    background-color: white;
    padding-top: 60px;
    border-right: 1px solid #aa9639;
    transition: all 0.1s ease-in-out;
    overflow-y: scroll;
}

#LateralBar ul {
    list-style: none;
}

#LateralBar ul li {
    border-bottom: 1px solid #aa9639;
}


#LateralBar ul li a {
    padding: 0.5em 1em 0.5em 2em;
    transition: all 0.1s ease-in-out;
}

#LateralBar ul li:first-child a {
    padding: 1em;
    color: #aa9639;
}

#LateralBar ul li a:hover {
    background-color: #aa9639;
    color: #fff;
}

#LateralBar a {
    display: block;
    text-decoration: none;
    color: #666;
}

/* Media queries to hide the hamburger when the screen is larger than 800px */
@media screen and (min-width: 800px) {
    #hamburgerButton {
        display: none;
    }
    #LateralBar {
        left: 0;
        margin-left: 0;
    }
}

/* Media queries to hide the hamburger when the screen is larger than 800px */
@media screen and (max-width: 800px) {
    #LateralBar {
        left: 0;
        margin-left: -100%;
    }
}

#LateralBar.displayed {
    left: 0;
    margin-left: 0;
}