<!-- 
Form model.

In the ENPKG website, we expect to have a lot of forms. These forms will be
used for a variety of purposes, such as user settings, adding a new taxon,
a new sample, new files associated to samples, etc. We want to have a
consistent look and feel for all forms, and we want to be able to easily
add new forms to the website.

We will therefore create a base form model, which will be used as a
template for all forms. The form model will be a component, which will be
added to the page when needed. The form model will be a simple form with
a title, a description, and a list of form elements. Each form element
will be a component, which will be added to the form model when needed.
-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Forms Test</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <form action="/update-translation/{}"></form>
    <!-- We include jQuery from the Google repository -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="script.js"></script>
</body>

</html>