<!-- 
    Form to allow a user to search for a sample.
-->
{% extends 'navigator.html' %}

{% block content %}
<div class="form-container">
    <form action="" method="">
        <h2>Search Sample</h2>
        <div class="row">
            <p class="flex">
                <label for="sample-name">Search sample:</label>
                <input name="sample-name" type="text" placeholder="Search sample" empty>
            </p>
            <ul action="samples" method="POST" class="search-results autocomplete-search" for="sample-name"></ul>
        </div>
    </form>
</div>
{% endblock %}