{% extends 'navigator.html' %}

{% block content %}
<div class="taxons-container">
    <h2>{{taxon.get_taxon_name()}}</h2>
    <p>{{taxon.get_taxon_description()}}</p>
    
    <div class="admin_zone form-container">
        <h3>Admin zone</h3>
        <p>In this section you will find administrative operations regarding this taxon.</p>

        <h4>Deprecate taxon</h4>
        <p>Deprecating a taxon will not delete its samples but it will make it impossible to add new ones and mark all associated samples as deprecated.</p>
        <form action="/deprecate-taxon/" method="POST">
            <div class="row">
                <p class="flex">
                    <label for="taxon-name">Taxon Name:</label>
                    <input class="validate" must_be_equal_to="{{taxon.get_taxon_name()}}" name="taxon-name" type="text" placeholder="Confirm the taxon name">
                </p>
            </div>
            <button type="submit" class="deprecate"><i class="fa-solid fa-biohazard"></i> Deprecate</button>
        </form>
    </div>  
    <div class="danger_zone form-container">
        <h3>Danger zone</h3>
        <p>Please be advised that operations in this area are non-reversible.</p>

        <h4>Delete taxon</h4>
        <p>Delete this taxon from the database.</p>
        <h5>Side effects of this operation</h5>
        <p>Deleting a taxon will delete all the samples associated with it.</p>
        <form action="/delete-taxon/" method="POST">
            <div class="row">
                <p class="flex">
                    <label for="taxon-name">Taxon Name:</label>
                    <input class="validate" must_be_equal_to="{{taxon.get_taxon_name()}}" name="taxon-name" type="text" placeholder="Confirm the taxon name">
                </p>
            </div>
            <button type="submit" class="delete"><i class="fa-solid fa-trash"></i> Delete</button>
        </form>
    </div>
</div>
{% endblock %}