<!-- 
Page containing informations regarding the taxons and the last 10 created taxons.
-->
{% extends 'navigator.html' %}

{% block content %}
<div class="dashboard-container">
    <div class="taxons">
        <h2>Taxons</h2>

        <h3>Recent taxons</h3>
        <ul class="search-results">
            {% for taxon in get_last_n_modified_taxons(10) %}
            <li>
                <h4><a href="{{taxon.get_taxon_url()}}">{{ taxon.get_taxon_name() }}</a></h4>
                <span>{{ taxon.get_taxon_description() }}</span>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}