<!-- Translations popup template -->
<!-- 

    The translations popup template is a popup that appears when a moderator clicks
    three times on any object in the website with class "translatable". The popup
    allows the moderator to edit the translations of the object in different languages.

    The popup is a form that contains a textarea, and displays the label attribute of the
    object that was clicked. The textarea contains the current translations of the object
    in the current language, and the moderator can edit the translations and submit the
    form to update the translations.

    The popup darkens the background of the website, and the popup itself is a white box
    that is centered in the middle of the screen. The popup can be closed by clicking
    anywhere outside of the popup, or on the close button in the top right corner of the
    popup.

 -->
 <div id="translation_widjet">
    <div id="translation_widjet_background"></div>
    <div class="translation_widjet_container">
        <div class="translations_side_bar">
            <h2>Page labels</h2>
            <ul id="translations_list"></ul>
        </div>
        <form action="/update-translation/{lang}/{label}">
            <textarea name="current_translation" id="current_translation"></textarea>
            <button id="save_translation"><i class="fas fa-save"></i> Save</button>
        </form>
        <i class="fa-solid fa-xmark" id ="translation_widjet_close"></i>
    </div>
</div>